@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

body {
   width: 100%;
   min-height: 100vh;
   background-color: #111111;
   font-family: 'Poppins', sans-serif;
}

/* navbar */

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #111111;
   height: 70px;
   padding: 0px 8%;
   position: sticky;
   top: 0;
   bottom: 0;
   width: 100%;
   transition: 0.3s;
   z-index: 9999;
}

a{
   text-decoration: none;
}

.header-2 a {
   padding: 100px;
   color: white;
}

div img{
   margin-top: 10px;
   width: 100px;
}

.hamburger {
	display: none;
}

.searches {
   width: 210px;
   border-radius: 3px;
   border: none;
}

nav ul li {
   list-style: none;
   display: inline-block;
   padding: 10px 16.5px;
}

nav ul li a {
   color: #ffffff;
   position: relative;
   padding: 10px 0;
}

.navbar a {
   color: #ffffff;
   position: relative;
   padding: 1px 0px;
   margin-right: 80px;
}

.navbar a:hover {
   color: #CF2D1E;
}

nav ul li a:after {
   content: "";
   position: absolute;
   left: 0;
   width: 0;
   height: 3px;
   background: #CF2D1E;
   transition: .3s;
   bottom: 0;
}

.navbar a:after {
   content: "";
   position: absolute;
   left: 0;
   width: 0;
   height: 3px;
   background: #CF2D1E;
   transition: .3s;
   bottom: 0;
}

.navbar a:hover:after {
   width: 100%;
}

.pcBuilder  {
   display: flex;
   flex-direction: column;
   text-align: center;
   color: #fff;
   width: 100%;
}

.builderTable {
   margin: 0 auto;
   background-color: #242424;
   padding: 50px;
   border-radius: 10px;
}

.builderTable th {
   padding: 0 100px;
}

.component {
   padding-top: 50px;
   font-weight: 900;
}

.addCompBtn {
   padding-top: 50px;
}

.fa-plus {
   margin-right: 5px;
}

.addCompBtn button {
   outline: none;
   border: none;
   padding: 5px;
   color: white;
   background-color: #CF2D1E;
   border-radius: 5px;
   font-weight: 900;
}

footer {
	width: 100%;
	position: relative;
	bottom: 0;
	left: 0;
	background: #111;
}

footer .content {
	max-width: 1350px;
	margin: auto;
	padding: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

footer .content p,a {
	color: #fff;
}

footer .content .box {
	width: 33%;
	transition: all 0.4s ease;
}

footer .content .topic {
	font-size: 22px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 16px;
}

footer .content p {
	text-align: justify;
}

footer .content .lower .topic {
	margin: 24px 0 5px 0;
}

footer .content .lower i {
	padding-right: 16px;
}

footer .content .middle {
	padding-left: 80px;
}

footer .content .middle a {
	line-height: 32px;
}
  
footer .content .right input[type="text"] {
	height: 45px;
	width: 100%;
	outline: none;
	color: #d9d9d9;
	background: #000;
	border-radius: 5px;
	padding-left: 10px;
	font-size: 17px;
	border: 2px solid #222222;
}

footer .content .right input[type="submit"] {
	height: 42px;
	width: 100%;
	font-size: 18px;
	color: #d9d9d9;
	background: #eb2f06;
	outline: none;
	border-radius: 5px;
	letter-spacing: 1px;
	cursor: pointer;
	margin-top: 12px;
	border: 2px solid #eb2f06;
	transition: all 0.3s ease-in-out;
}

.content .right input[type="submit"]:hover {
	background: none;
	color:  #eb2f06;
}

footer .content .media-icons a {
	font-size: 16px;
	height: 45px;
	width: 45px;
	display: inline-block;
	text-align: center;
	line-height: 43px;
	border-radius: 5px;
	border: 2px solid #222222;
	margin: 30px 5px 0 0;
	transition: all 0.3s ease;
}

.content .media-icons a:hover {
	border-color: #eb2f06;
}

footer .bottom {
	width: 100%;
	text-align: center;
	color: #d9d9d9;
	
}

footer .bottom a {
	color: #eb2f06;
}

footer a {
	transition: all 0.3s ease;
}

footer a:hover {
	color: #eb2f06;
}